/*@import url(http://fonts.googleapis.com/css?family=Averia+Sans+Libre);
@import url(http://fonts.googleapis.com/css?family=Luckiest+Guy);
@import url(http://fonts.googleapis.com/css?family=Special+Elite);*/

html, body {
  user-select: none;
  background: #444; color: white;
  margin: 0;
  width: 100%; height: 100%;
  font-family: Calibri, sans-serif;  
  text-shadow: 0 0 3px #000;
}

body {
  display: table;
}

button {
  cursor: pointer;
  padding: 3px 10px;
}

p {
  word-spacing: -1px;
  font-size: 17px;
  line-height: 17px;
  margin: 2px;
  border: 2px solid transparent;
  padding: 1px 2px;
  display: inline-block;
}

a {
  text-decoration: underline;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-family: Calibri, sans-serif;
  font-size: 20px;
  margin: 0;
}
input:focus {
  animation: shade 0.5s;
}

.hidden {
  display: none; !IMPORTANT
}

#states {
  margin: 0 auto;
  width: 970px;
  height: 600px;  
  background-color: #222;
  background-image: url("img/bkg/Dota6.49.jpg");
  background-size: cover;
  background-position: 50% 100%;
  position: relative;  
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 0 6px black;
}
#states > div {
  width: 100%; height: 100%;
  position: relative;
}
#states.login {
  background-image: url("img/bkg/Dota6.55.jpg");
}
#states.menu {
  background-image: url("img/bkg/Dota6.63.jpg");
}
#states.choose {
  background-image: url("img/bkg/Dota6.69.jpg");
}
#states.table {
  background-image: url("img/bkg/Dota6.70.jpg");
}

.container {
  display: table-cell;
  vertical-align: middle;
}

.menu  button {
  display: block;
  margin: 5px auto;
  width: 200px;
}

.menu small {
  cursor: pointer;
}

.box {
  width: 570px;  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 200px;
  padding: 50px 0;
  text-align: center;
  border-radius: 4px;
  background: rgba(0,0,0,0.9);
}
.box div p {
  display: block;
}
.intro {
  padding: 10px;
  font-size: 38px;
}
.intro a {
  text-decoration: none;
  font: monospace;
  font-size: 33%;
}
.choose .counter {
  width: 100%;
}
.pickbox {
  width: 770px;  
  height: 310px;
  position: absolute;
  float: left;
  margin-bottom: 1em;
  top: 35px;
  left: 100px;
  overflow: hidden;
  padding: 5px 0;
  text-align: center;
  border-radius: 4px;
  background: rgba(0,0,0,0.85);
}

.pickedbox {
  width: 540px;  
  height: 190px;
  position: absolute;
  top: 360px;
  left: 100px;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  border-radius: 4px;
  background: rgba(0,0,0,0.85);
  box-shadow: 0 0 20px rgba(255,255,255,0.5);
}
.prepickbox {
  width: 205px;
  height: 170px;
  position: absolute;
  top: 360px;
  left: 655px;
  overflow: hidden;
  padding: 15px 5px;
  text-align: center;
  border-radius: 4px;
  background: rgba(0,0,0,0.85);
  box-shadow: 0 0 20px rgba(255,255,255,0.5);  
}

.slot {
  border-radius: 4px;
  float: left;
  width: 100px;
  height: 150px;
  margin: 4px;  
  box-shadow: inset 0 0 10px rgba(255,255,255,0.7);
}

.slot.available {
  animation: innerlight 0.5s infinite;
}

.slot:hover {
  background: rgba(255,255,255,0.2);
}

.deck {
   transition: all 0.4s;
}

.pickbox .deck {
  position: relative;  
  margin-left: 35%;
}
 
.heroesarea {
  position: absolute;
  top: 400px;
  left: 10px;
  height: 200px;
  overflow: hidden;
}

.heroesarea .deck {
  top: -20px;
}

.slot .card {
  margin-top: -80px;
}

.card {
  display: inline-block;
  background: #bbb;
  cursor: url("img/cursor/cursor.png"), url("img/cursor/cursor.cur"), pointer;
  float: left;
  position: relative;
  top: 0; left: 0;
  text-align: left;  
  transition: all 0.4s;
  margin: 0 -56px;
  padding: 5px;
  width: 200px; height: 300px;
  border: 1px solid #533;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(255,255,255,0.5);
  transform: scale(0.4); 
}
.card.enemy {
  background: #666;
}
.card:hover {
  transform: scale(0.5);
  z-index: 4;
}
.card.active {
  margin: 0 5px;
  transform: scale(0.9);
}
.heroesarea .card.active {
  margin: 0 -46px;
  transform: scale(0.55);
}
.card.active:hover {
  margin: 0 5px;
  transform: scale(1);
  box-shadow: 0 0 20px 5px rgba(255,255,255,0.5);
}
.heroesarea .card.active:hover {
  margin: 0 -46px;
  transform: scale(0.6);
}
.card.picked {  
  animation: slidedown 0.5s;
  transform: scale(0.4);
}

.card.picked:hover { 
  top: -12px;
  transform: scale(0.45);
}

.card.player {
  cursor: url("img/cursor/cursor-green.png"), url("img/cursor/cursor-green.cur"), pointer;
  box-shadow: inset 0 0 0 25px rgba(0,185,0,0.5);
}
.card.enemy {
  cursor: url("img/cursor/cursor-red.png"), url("img/cursor/cursor-red.cur"), pointer;
  box-shadow: inset 0 0 0 25px rgba(245,0,0,0.5);
}
.card.target {
  animation: targetlight 0.5s infinite;
}
.card fieldset {
  border: 1px solid #fff;
  padding: 5px;
  margin: 0;
  height: 285px;
  background: #edb;
}
.card legend {
  font-family: 'Luckiest Guy';
  font-size: 16px;
  color: #533; 
  text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -2px 0 white;
}
.card .hp {
  height: 18px;
  position: absolute;
  right: 10px;
  width: 18px;
  display: block;
  top: 1px;
  background: #080;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  border: 1px solid #fff;
}
.card.enemy .hp {
  background: #ed3;
  border: 1px solid #c00;
}
.choose .card .hp {
  display: none;
}
.card .portrait {
  position: relative;
}
.card img {
  display: block;
  width: 185px; height: 104px;
  border-radius: 5px;
}
.card .overlay {
  box-shadow: 0 0 20px #000 inset;
  border-radius: 5px;
  width: 185px; height: 104px;
  position: absolute;
  top: 0;
}
.card h1 {
  font-family: 'Special Elite';
  font-size: 14px;
  color: #533;
  text-shadow: 0 1px 0 #fff;
  margin: 5px 5px 2px;
}
.card p { 
  font-family: 'Special Elite';
  font-size: 12px;
  color: #533;
  text-shadow: 0 1px 0 #fff;
  text-align: justify;
  margin: 0 1px;
}

.map .card {
  z-index: 3;
  top: -112px;
  left: -21px;
  position: absolute;
  transform: scale(0.29);
}

.map .card:hover {
  transform: scale(.31);
}

.map .card.selected {
  outline: 7px solid white;
  transform: scale(.33);
  z-index: 5;
}

.selectedarea {
  position: absolute;
  top: 40px;
  right: 65px;
}

.selectedarea .card {
  transform: scale(1);
}

.card .damage {
  color: yellow;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 180px;
  animation: slideup 1s;
  text-shadow: 1px 0 2px red,
    -1px 0 2px red,
    0 1px 2px red,
    0 -1px 2px red;
}

.selectedarea .card .damage {
  display: none;
}

.card.dead {
  -webkit-filter: grayscale(0.9);
}

.table .deck.heroes .card.dead {
  margin-right: -140px;
}

.message {
  border-radius: 5px;
}

.turn .message {
  background: rgba(0,150,0,0.6);
}
.load .message {
  background: rgba(180,180,0,0.6);
}
.unturn .message {
  background: rgba(150,0,0,0.6);
}

.table .time {
  position: absolute;
  top: 1px; right: 10px;
  background: rgba(0,0,0,0.3);
  border-radius: 5px;
}

.map {
  cursor: url("img/cursor/cursor.png"), url("img/cursor/cursor.cur"), pointer;
  position: absolute;
  top: 30px; left: 10px;  
  border-spacing: 1px;
  z-index: 1;
  background-position: 0 0;
  background-size: 107% 107%;
  background-image: url("img/bkg/map.png");
  box-shadow: inset 0 0 8px 6px black;
}

.map td {
  box-sizing: border-box;
  background: rgba(150,150,150,0.1);
  border: 1px solid rgba(0,0,0,0);
  width: 60px; height: 90px;
  position: relative;
  border-top: 1px solid transparent;
}
.map td:hover {
  background: rgba(150,150,150,0.2);
}

.map td.playerarea {
  background: rgba(100,255,100,0.1);
}
.map td.playerarea:hover {
  background: rgba(100,255,100,0.2);
}

.map td.enemyarea {
  background: rgba(255,100,100,0.1);
}
.map td.enemyarea:hover {
  background: rgba(255,100,100,0.2);
}

.turn .map td.movearea {  
  cursor: url("img/cursor/cursor-green.png"), url("img/cursor/cursor-green.cur"), pointer;
  animation: innerlight 0.5s infinite;
}

.turn .map td.attackarea.top,
.turn .map td.attackarea.topLeftin,
.turn .map td.attackarea.topRightin,
.turn .map td.attackarea.bottomLeftout,
.turn .map td.attackarea.bottomRightout { 
  border-top: 1px solid white;
}
.turn .map td.attackarea.bottom,
.turn .map td.attackarea.topLeftout,
.turn .map td.attackarea.topRightout,
.turn .map td.attackarea.bottomLeftin,
.turn .map td.attackarea.bottomRightin { 
  border-bottom: 1px solid white;
}
.turn .map td.attackarea.left,
.turn .map td.attackarea.topLeftin,
.turn .map td.attackarea.topRightout,
.turn .map td.attackarea.bottomLeftin,
.turn .map td.attackarea.bottomRightout { 
  border-left: 1px solid white;
}
.turn .map td.attackarea.right,
.turn .map td.attackarea.topLeftout,
.turn .map td.attackarea.topRightin,
.turn .map td.attackarea.bottomLeftout,
.turn .map td.attackarea.bottomRightin { 
  border-right: 1px solid white;
}

.table .deck.player.heroes {
  position: absolute;
  top: 410px;
  left: 10px;
}

.table .deck.enemy.heroes {
  position: absolute;
  top: 410px;
  left: 200px;
}

#fork {
  position: absolute;
  top: 0; right: 0;
  opacity: 0.55;
}

#kotl {
  background: #fd8;
}
#pud {
  background: #b43;
}
#cm {
  background: #78c;
}
#nyx {
  background: #145;
}
#wk {
  background: #483;
}
#am {
  background: #674f80;
}
#ld {
  background: #62a64e;
}

@keyframes innerlight {
  0%, 100% {box-shadow: inset 0 0 40px white;}
  50% {box-shadow: inset 0 0 20px white;}
}
@keyframes targetlight {
  0%, 100% {box-shadow: 0 0 4px 8px red, inset 0 0 0 25px rgba(245,0,0,0.5);}
  50% {box-shadow: 0 0 4px 4px red, inset 0 0 0 25px rgba(245,0,0,0.5);}
}
@keyframes shade {
  50% {opacity: 0.5;}
}
@keyframes slidedown {
  0% {top: -175px;}
  100% {top: 0;}
}
@keyframes slideup {
  0% {top: 0;}
  100% {top: -175px;}
}