/*@import url("http://fonts.googleapis.com/css?family=Averia+Sans+Libre");
@import url("http://fonts.googleapis.com/css?family=Luckiest+Guy");
@import url("http://fonts.googleapis.com/css?family=Special+Elite");*/

html, body {
  user-select: none;
  background: #444; color: white;
  margin: 0;
  width: 100%; height: 100%;
  font-family: Calibri, sans-serif;  
  text-shadow: 0 0 3px #000;
}

body {
  display: table;
}

button {
  cursor: pointer;
  padding: 3px 10px;
}

p {
  word-spacing: -1px;
  font-size: 17px;
  line-height: 17px;
  margin: 2px;
  border: 2px solid transparent;
  padding: 1px 2px;
  display: inline-block;
}

a {
  text-decoration: underline;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-family: Calibri, sans-serif;
  font-size: 20px;
  margin: 0;
}
input:focus {
  animation: shade 0.5s;
}

.hidden {
  display: none; !IMPORTANT
}

.container {
  display: table-cell;
  vertical-align: middle;
}

.box {
  width: 570px;  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 200px;
  padding: 50px 0;
  text-align: center;
  border-radius: 4px;
  background: rgba(0,0,0,0.9);
}
.box div p {
  display: block;
}

/*STATES*/

#states {
  margin: 0 auto;
  width: 970px;
  height: 600px;  
  background-color: #222;  
  background-size: cover;
  background-position: 50% 100%;
  position: relative;  
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 0 6px black;  
}
#states > div {
  width: 100%; height: 100%;
  position: relative;
}
#states.intro {
  background-image: url("img/bkg/Dota6.49.jpg");
}
#states.login {
  background-image: url("img/bkg/Dota6.55.jpg");
}
#states.menu {
  background-image: url("img/bkg/Dota6.63.jpg");
}
#states.choose {
  background-image: url("img/bkg/Dota6.69.jpg");
}
#states.table {
  background-image: url("img/bkg/Dota6.70.jpg");
}

/*INTRO*/

.intro {
  padding: 10px;
  font-size: 38px;
}
.intro a {
  text-decoration: none;
  font: monospace;
  font-size: 33%;
}

/*MENU*/

.menu  button {
  display: block;
  margin: 5px auto;
  width: 200px;
}

.menu small {
  cursor: pointer;
}

/*TOP MESSAGE*/

.message {
  border-radius: 5px;
  transition: background 0.5s;
}

.turn .message {
  background: rgba(0,150,0,0.6);
}
.unturn .message {
  background: rgba(150,0,0,0.6);
}

/*CHOOSE*/

.choose .counter {
  width: 100%;
}
.pickbox {
  width: 770px;  
  height: 310px;
  position: absolute;
  float: left;
  margin-bottom: 1em;
  top: 35px;
  left: 100px;
  overflow: hidden;
  padding: 5px 0;
  text-align: center;
  border-radius: 4px;
  background: rgba(0,0,0,0.85);
}

.pickedbox {
  width: 540px;  
  height: 190px;
  position: absolute;
  top: 360px;
  left: 100px;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  border-radius: 4px;
  background: rgba(0,0,0,0.85);
  box-shadow: 0 0 20px rgba(255,255,255,0.5);
}
.prepickbox {
  width: 205px;
  height: 170px;
  position: absolute;
  top: 360px;
  left: 655px;
  overflow: hidden;
  padding: 15px 5px;
  text-align: center;
  border-radius: 4px;
  background: rgba(0,0,0,0.85);
  box-shadow: 0 0 20px rgba(255,255,255,0.5);  
}

.slot {
  border-radius: 4px;
  float: left;
  width: 100px;
  height: 150px;
  margin: 4px;  
  box-shadow: inset 0 0 10px rgba(255,255,255,0.7);
}

.slot.available {
  animation: innerlight 0.5s infinite;
}

.slot:hover {
  background: rgba(255,255,255,0.2);
}

/*CARD*/

.card {
  display: inline-block;
  background: #bbb;
  cursor: url("img/cursor/cursor.png"), url("img/cursor/cursor.cur"), pointer;
  float: left;
  position: relative;
  top: 0; left: 0;
  text-align: left;  
  transition: all 0.4s;
  transform: scale(0.4); 
  margin: 0 -56px;
  padding: 5px;
  width: 200px; height: 300px;
  border: 1px solid #533;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(255,255,255,0.5);  
}
.card.player {
  cursor: url("img/cursor/cursor-green.png"), url("img/cursor/cursor-green.cur"), pointer;
  box-shadow: inset 0 0 0 25px rgba(0,185,0,0.5);
}
.card.enemy {
  background: #666;
  cursor: url("img/cursor/cursor-red.png"), url("img/cursor/cursor-red.cur"), pointer;
  box-shadow: inset 0 0 0 25px rgba(245,0,0,0.5);
}
.card.enemy.target {
  animation: enemytarget 0.5s infinite;
}
.card.player.target {
  animation: playertarget 0.5s infinite;
}
.card.dead {
  -webkit-filter: grayscale(0.9);
}
.card:hover {
  z-index: 1;
}

.card fieldset {
  border: 1px solid #fff;
  padding: 5px;
  margin: 0;
  height: 285px;
  background: #edb;
}
.card legend {
  font-family: 'Luckiest Guy';
  font-size: 16px;
  color: #533; 
  text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white;
}
.card .hp {
  height: 18px;
  position: absolute;
  right: 10px;
  width: 18px;
  display: block;
  top: 1px;
  background: #080;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  border: 1px solid #fff;
}
.card.enemy .hp {
  background: #ed3;
  border: 1px solid #c00;
}

.card .portrait {
  position: relative;
}
.card .img {
  display: block;
  width: 185px; height: 104px;
  border-radius: 5px;
  background-size: cover;
  background-position: 50% 50%;
}
.card .overlay {
  box-shadow: 0 0 20px #000 inset;
  border-radius: 5px;
  width: 185px; height: 104px;
  position: absolute;
  top: 0;
}
.card h1 {
  font-family: 'Special Elite';
  font-size: 14px;
  color: #533;
  text-shadow: 0 1px 0 #fff;
  margin: 5px 0 0;
}
.card p { 
  font-family: 'Special Elite';
  font-size: 12px;
  color: #533;
  text-shadow: 0 1px 0 #fff;
  text-align: justify;
  margin: 0;
  border: 0;
}

.choose .card .hp,
.choose .card .kd {
  display: none;
}
.pickbox .card {
  transform: scale(0.4); 
}
.pickbox .card:hover {
  transform: scale(0.5);  
}
.pickbox .card.active {
  margin: 0 5px;
  transform: scale(1);
}
.pickbox .card.active:hover {
  box-shadow: 0 0 20px 5px rgba(255,255,255,0.5);
}
.pickedbox .card {
  margin-top: -80px;  
  animation: slidedown 0.5s;
  transform: scale(0.4);
}
.pickedbox .card:hover { 
  top: -12px;
  transform: scale(0.45);
}

.map .card {
  z-index: 3;
  top: -112px;
  left: -21px;
  position: absolute;
  transform: scale(0.29);
}
.map .card:hover {
  transform: scale(.30);
}
.map .card.selected {
  outline: 3px solid white;
  z-index: 5;
}
.map .card.source {
  outline: 3px solid springgreen;
}
.map .card .damage {
  color: yellow;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 180px;
  animation: slideup 5s linear;
  text-shadow: 1px 0 2px red,
    -1px 0 2px red,
    0 1px 2px red,
    0 -1px 2px red;
}
/*TABLE*/

.table .time {
  position: absolute;
  top: 1px; right: 10px;
  background: rgba(0,0,0,0.3);
  border-radius: 5px;
}

.map {
  cursor: url("img/cursor/cursor.png"), url("img/cursor/cursor.cur"), pointer;
  position: absolute;
  top: 30px; left: 10px;  
  border-spacing: 1px;
  z-index: 1;
  background-position: 0 0;
  background-size: 107% 107%;
  background-image: url("img/bkg/map.png");
  box-shadow: inset 0 0 8px 6px black;
}

.map td {
  box-sizing: border-box;
  background: rgba(150,150,150,0.1);
  border: 1px solid rgba(0,0,0,0);
  width: 60px; height: 90px;
  position: relative;
  border-top: 1px solid transparent;
}
.map td:hover {
  background: rgba(150,150,150,0.2);
}

.map td.playerarea {
  background: rgba(100,255,100,0.2);
}
.map td.playerarea:hover {
  background: rgba(100,255,100,0.25);
}

.map td.enemyarea {
  background: rgba(255,100,100,0.2);
}
.map td.enemyarea:hover {
  background: rgba(255,100,100,0.25);
}

.turn .map td.movearea {  
  cursor: url("img/cursor/cursor-green.png"), url("img/cursor/cursor-green.cur"), pointer;
  animation: innerlight 0.5s infinite;
}
.turn .map td.targetarea {  
  cursor: url("img/cursor/cursor-green.png"), url("img/cursor/cursor-green.cur"), pointer;
  animation: innergreen 0.5s infinite;
}

.turn .map td.stroke.attack.top { 
  border-top: 1px solid rgba(255,255,255,0.7);
}
.turn .map td.stroke.attack.bottom { 
  border-bottom: 1px solid rgba(255,255,255,0.7);
}
.turn .map td.stroke.attack.left { 
  border-left: 1px solid rgba(255,255,255,0.7);
}
.turn .map td.stroke.attack.right { 
  border-right: 1px solid rgba(255,255,255,0.7);
}
.turn .map td.stroke.skill.top { 
  border-top: 1px solid springgreen;
}
.turn .map td.stroke.skill.bottom { 
  border-bottom: 1px solid springgreen;
}
.turn .map td.stroke.skill.left { 
  border-left: 1px solid springgreen;
}
.turn .map td.stroke.skill.right { 
  border-right: 1px solid springgreen;
}

/*DECKS*/

.deck {
   transition: all 0.4s;
}

.pickbox .deck {
  position: relative;  
  margin-left: 35%;
}

.table .deck,
.table .hand {
  position: absolute;
  height: 200px;  
}
.table .deck .card,
.table .hand .card {
  transform: scale(0.4);
}
.table .deck .card:hover,
.table .hand .card:hover {
  transform: scale(0.45);
}
.table .deck .card,
.table .hand .card {
  margin-right: -140px;
}

.table .deck.heroes {
  width: 160px;
}
.table .deck.player.heroes {
  bottom: 0;
  left: 4px;
}

.table .player.hand.permanent {
  bottom: 0;
  left: 160px;
}

.table .player.skills.hand {
  bottom: 0;
  right: 10px;
  width: 620px;
}
.table .player.skills.hand .card {
  margin-right: -100px;
  z-index: 4;
}
.table .player.skills.hand .card.selected {
  outline: 3px solid white;
  transform: scale(0.5);
}

.table .selectedarea {
  position: absolute;
  top: 40px;
  right: 65px;
}
.table .selectedarea .card {
  transform: scale(1);
  z-index: 5; 
}
.table .selectedarea .card:hover {
  transform: scale(1.9) translate(-50px,55px); 
}
.table .selectedarea .card .damage {
  display: none;
}

/*HEROES*/

.pud {
  background: #b43;
}
.pud .img {
  background-image: url("img/heroes/pudge_full.png");
}
.pud-hook .img {
  background-image: url("img/skills/pudge_meat_hook.png");
}
.pud-rot .img {
  background-image: url("img/skills/pudge_rot.png");
}
.pud-passive .img {
  background-image: url("img/skills/pudge_flesh_heap.png");
}
.pud-ult .img {
  background-image: url("img/skills/pudge_dismember.png");
}


.nyx {
  background: #145;
}
.nyx .img {
  background-image: url("img/heroes/nyx_assassin_full.png");
}
.nyx-stun .img {
  background-image: url("img/skills/nyx_assassin_impale.png");
}
.nyx-burn .img {
  background-image: url("img/skills/nyx_assassin_mana_burn.png");
}
.nyx-spike .img {
  background-image: url("img/skills/nyx_assassin_spiked_carapace.png");
}
.nyx-ult .img {
  background-image: url("img/skills/nyx_assassin_vendetta.png");
}


.am {
  background: #674f80;
}
.am .img {
  background-image: url("img/heroes/antimage_full.png");
}
.am-burn .img {
  background-image: url("img/skills/antimage_mana_break.png");
}
.am-blink .img {
  background-image: url("img/skills/antimage_blink.png");
}
.am-passive .img {
  background-image: url("img/skills/antimage_spell_shield.png");
}
.am-ult .img {
  background-image: url("img/skills/antimage_mana_void.png");
}


.ld {
  background: #62a64e;
}
.ld .img {
  background-image: url("img/heroes/lone_druid_full.png");
}
.ld-summon .img {
  background-image: url("img/skills/lone_druid_spirit_bear.png");
}
.ld-rabid .img {
  background-image: url("img/skills/lone_druid_rabid.png");
}
.ld-passive .img {
  background-image: url("img/skills/lone_druid_synergy.png");
}
.ld-cry .img {
  background-image: url("img/skills/lone_druid_true_form_battle_cry.png");
}
.ld-ult .img {
  background-image: url("img/skills/lone_druid_true_form.png");
}
.ld-transform .img {
  background-image: url("img/skills/lone_druid_true_form_druid.png");
}

.wk {
  background: #483;
}
.wk .img {
  background-image: url("img/heroes/skeleton_king_full.png");
}
.wk-stun .img {
  background-image: url("img/skills/skeleton_king_hellfire_blast.png");
}
.wk-lifesteal .img {
  background-image: url("img/skills/skeleton_king_vampiric_aura.png");
}
.wk-crit .img {
  background-image: url("img/skills/skeleton_king_mortal_strike.png");
}
.wk-ult .img {
  background-image: url("img/skills/skeleton_king_reincarnation.png");
}


.kotl {
  background: #fd8;
}
.kotl .img {
  background-image: url("img/heroes/keeper_of_the_light_full.png");
}
.ktol-illuminate .img {
  background-image: url("img/skills/keeper_of_the_light_illuminate.png");
}
.ktol-illuminate-end .img {
  background-image: url("img/skills/keeper_of_the_light_illuminate_end.png");
}
.ktol-leak .img {
  background-image: url("img/skills/keeper_of_the_light_mana_leak.png");
}
.ktol-mana .img {
  background-image: url("img/skills/keeper_of_the_light_chakra_magic.png");
}
.ktol-ult .img {
  background-image: url("img/skills/keeper_of_the_light_spirit_form.png");
}
.ktol-illuminate-ult .img {
  background-image: url("img/skills/keeper_of_the_light_spirit_form_illuminate.png");
}
.ktol-blind .img {
  background-image: url("img/skills/keeper_of_the_light_blinding_light.png");
}
.ktol-recall .img {
  background-image: url("img/skills/keeper_of_the_light_recall.png");
}


.cm {
  background: #78c;
}
.cm .img {
  background-image: url("img/heroes/crystal_maiden_full.png");
}
.cm-slow .img {
  background-image: url("img/skills/crystal_maiden_crystal_nova.png")
}
.cm-aura .img {
  background-image: url("img/skills/crystal_maiden_brilliance_aura.png")
}
.cm-freeze .img {
  background-image: url("img/skills/crystal_maiden_frostbite.png")
}
.cm-ult .img {
  background-image: url("img/skills/crystal_maiden_freezing_field.png")
}

/*TOWERS*/

.card.player.towers .img {
  background-image: url("img/towers/tower-player.png");
}
.card.enemy.towers .img {
  background-image: url("img/towers/tower-enemy.png");
}


/*FORK*/

#fork {
  position: absolute;
  top: 0; right: 0;
  opacity: 0.55;
}

/*LOADER*/

.loader {
  background-image: url("img/load.png");
  background-size: contain;
  width: 17px;
  height: 17px;
  display: inline-block;
  vertical-align: top; 
  transform-origin: 11px 12px;
  margin: 2px;
  border: 2px solid transparent;
  padding: 1px 2px;  
  background-repeat: no-repeat;
  animation: rotate 1s linear infinite;
  cursor: wait;
}

/*ANIMATION*/

@keyframes rotate {
  0% { transform: rotate(0);}
  100% { transform: rotate(360deg);}
}
@keyframes innerlight {
  0%, 100% {box-shadow: inset 0 0 40px white;}
  50% {box-shadow: inset 0 0 20px white;}
}
@keyframes innergreen {
  0%, 100% {box-shadow: inset 0 0 40px springgreen;}
  50% {box-shadow: inset 0 0 20px springgreen;}
}
@keyframes enemytarget {
  0%, 100% {box-shadow: 0 0 6px 8px red, inset 0 0 0 25px rgba(245,0,0,0.5);}
  50% {box-shadow: 0 0 4px 2px red, inset 0 0 0 25px rgba(245,0,0,0.5);}
}
@keyframes playertarget {
  0%, 100% {box-shadow: 0 0 6px 8px springgreen, inset 0 0 0 25px rgba(0,185,0,0.5);}
  50% {box-shadow: 0 0 4px 2px springgreen, inset 0 0 0 25px rgba(0,185,0,0.5);}
}
@keyframes shade {
  50% {opacity: 0.5;}
}
@keyframes slidedown {
  0% {top: -175px;}
  100% {top: 0;}
}
@keyframes slideup {
  0% {top: 0;}
  100% {top: -175px;}
}