
.chat {
  background: rgba(0,0,0,0.5);
  position: absolute;
  height: 38px;
  width: 64px;
  transform: translate3d(0%,0%, 0);
  bottom: 4px;
  left: -4px;
  border-radius: 4px;
  padding-right: 12px;
  padding: 8px;
  color: #4d4843;
  transition: all 0.4s;
  z-index: 10;
  box-sizing: border-box;
}
.chat h1 {
  color: white;
  height: 26px;
}

.states .chat-icon {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 17px;
  display: none;
  font-size: 12px;
}

.chat:hover, .chat.hover {
  top: auto;
  bottom: 4px;
  left: 0;
  height: 561px;
  z-index: 12;
  width: 450px;
}
.chat .button, .chat input, .chat h1, .chat .messages,
.chat:hover .chat-icon, .chat.hover .chat-icon {
  display: none;
}
.chat:hover > *, .chat.hover > * {
  display: block;
}
.chat .chat-icon {
  display: inline-block;
}

.chat .messages {
  height: calc(100% - 95px);
  overflow-y: scroll;
  padding: 4px;
  background: rgba(255,255,255,0.5);
  margin: 4px 2px;
  word-break: break-word;
  border: rgba(250,250,255,0.5);
  transform: translateZ(0);
}

.chat .messages p {
  margin: 8px 2px;
  background: rgba(250,250,255,0.9);
  box-shadow: 4px 5px 0 rgba(0,0,0,0.2);
  float: left;
  clear: both;
  padding: 6px 9px;
  line-height: 1.5em;
  cursor: text;
  user-select: text;
}
.chat .messages p { transform: rotate(2deg) translateZ(0); }
.chat .messages p:nth-child(2n) { transform: rotate(-0.8deg) translateZ(0); }
.chat .messages p:nth-child(3n) { transform: rotate(-1.6deg) translateZ(0); }
.chat .messages p:nth-child(5n) { transform: rotate(0) translateZ(0); }

.chat input {
  width: 330px;
  margin: 0 5px 0 1px;
  height: 26px;
  position: absolute;
  bottom: 14px;
  /*box-shadow: inset 0 0 3px gray;*/
}

.chat .button {
  width: 50px;
  position: absolute;
  top: auto;
  bottom: 12px;
  right: 10px;
  margin: 0;
}
.chat .button:active {
  bottom: 9px;
  top: auto;
}
