.choose .counter {
  width: 100%;
  position: absolute;
  bottom: -8px;
}

.choose .pickbox {
  width: 760px;
  height: 340px;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  padding: 0;
  text-align: center;
  border-radius: 4px;
  background: rgba(0,0,0,0.6);
}

.choose .pickbox .deck {
  position: relative;
  left: -50%;
  height: 340px;
  transform: translateZ(0);
}

.choose .pickedbox {
  height: 190px;
  position: absolute;
  bottom: 20px;
  left: 105px;
  padding: 4px 2px;
  text-align: center;
  border-radius: 4px;
  background: rgba(0,0,0,0.6);
  transform: translateZ(0);
}

.choose .pickedbox .skills:hover {
  transform: translate3d(-50%, -70%, 0) scale(1);
}

.choose .slot {
  position: relative;
  border-radius: 4px;
  float: left;
  width: 100px;
  height: 150px;
  margin: 4px;
  background: rgba(255,255,255,0.08);
  cursor: pointer;
}

.choose .slot:hover, .choose .slot.drop  {
  background: rgba(255,255,255,0.1);
}

.choose .buttonbox {
  position: absolute;
  right: 100px;
  bottom: 15px;
  width: 220px;
}

.buttonbox .button {
  display: block;
  margin-bottom: 15px;
}