
.table .deck {
  position: absolute;
  height: 120px;
  bottom: -10px;
  z-index: 6;
  transform: translateZ(0);
}

.table .player.heroes.deck {
  width: 160px;
  left: 10px;
}
.table .player.skills.sidehand.deck {
  left: 150px;
  width: 160px;
}

.table .player.skills.hand {
  right: 10px;
  width: 620px;
}

.table .selectedarea {
  width: 220px;
  height: 330px;
  position: absolute;
  top: 30px;
  right: 5px;
  border-radius: 10px;
  perspective: 600px;
  z-index: 9;
}


.table .buttonbox .button {
  position: absolute;
  right: 5px;
  top: auto !important;
  width: 175px;
}

.table .skip, .table .skip[disabled]:active {
  bottom: 125px;
}
.table .skip:active {
  bottom: 122px;
}

.table .surrender, .table .surrender[disabled]:active, 
.table .back, .table .back[disabled]:active {
  bottom: 180px;
}
.table .surrender:active, .table .back:active {
  bottom: 177px;
}

.table .deck.skills.enemy {
  z-index: 6;
  top: 40px;
  left: -10px;
  transition: all 1s;
}
.table .deck.skills.enemy.slide {
  z-index: 6;
  left: 100px;
}

.table .camera {
  position: absolute;
  top: 24px;
  left: 0;
  width: 740px;
  height: 450px;
  background: #666;
  perspective: 840px;
  overflow: hidden;
  transform: translateZ(0);
}

/*.table  .camera:after {
  content: "";
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 740px; height: 450px;
  box-shadow: inset 0 0 20px 5px black;
  pointer-events: none;
}
*/
/*RESULTS*/

.table .resultsbox {
  padding: 40px;
}

.table .result {
  text-transform: uppercase;
  font-size: 25px;
}
.table .results {
  display: inline-block;
  width: 320px;
}
.table .results.enemy {
  color: tomato;
}
.table .results p {
  box-shadow: inset 0 0 0 50px rgba(0,0,0,0.7);
  border: 0;
  padding: 5px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  margin: 6px;
}
.table .results span {
  line-height: 30px;
  margin-left: 70px;
}
.table .results .portrait {
  position: absolute; top: 5px; left: 5px;
  width: 60px; height: 30px;
}
.table .results .img {
  width: 60px; height: 30px;
  background-size: cover;
  background-position: 50%;
}

.table .resultsbox .close {
  width: 60px;
  display: block;
  margin: 20px auto 0;
  position: static;
}

.table .turntitle {
  z-index: 15;
  opacity: 0;
  position: absolute;
  left: -970px;
  width: 970px;
  top: 230px;
  font-weight: bold;
  color: white;
  font-size: 80px;
  text-align: center;
  transition: all 0.4s;
  text-shadow: 0 0 3px #aaa, 0 0 20px #bbb, 0 0 40px #ddd, 0 0 60px #FFF;
  transform: translateZ(0);
  cursor: default;
}
.table .turntitle.show {
  left: 0;
  opacity: 1;
}