.topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 3px;
  color: #eee;
  height: 24px;
  font-size: 16px;
  line-height: 16px;
  overflow: hidden;
  z-index: 15;
  /* transform: translateZ(0); */
  background: rgba(0,0,0,0.32);
}

.topbar * {
  position: absolute;
  top: 5px;
}

.loader {
  width: 12px;
  height: 12px;
  margin: 1px;
  padding: 0;
  border: 3px solid transparent;
  border-bottom: 3px solid white;
  border-radius: 50%;
  display: inline-block;
  visibility: hidden;
  vertical-align: text-bottom;
}
.loader.loading {
  visibility: visible;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0% { transform: rotate(0);}
  100% { transform: rotate(360deg);}
}
.topbar .loader {
  position: absolute;
  left: 2px;
  top: 2px;
}
.topbar .triescounter {
  font-size: 8px;
  left: 7px;
  top: 4px;
  width: 12px;
  text-align: center;
}

.topbar p {
  display: inline;
  margin: 0;
}

.topbar .message {
  position: absolute;
  padding-left: 26px;
  padding-right: 4px;
  border-radius: 4px;
  cursor: default;
}
.topbar .message * {
  position: static;
}

.unturn .topbar .message {
  color: white;
}

.topbar .time,
.topbar .turns {
  position: absolute;
  top: 2px;
  line-height: 18px;
  border-radius: 4px;
}

.topbar .time {
  left: 40%;
  transform: translateX(-50%);
}

.topbar .turns {
  right: 210px;
}

.topbar .opt {
  cursor: pointer;
  right: 10px;
}
.topbar .opt.disabled {
  color: #bbb;
  cursor: default;
}
.topbar .opt.disabled:hover {
  text-decoration: none;
}
.topbar .logout {
  position: absolute;
  right: 80px;
  cursor: pointer;
}

.topbar .logout,
.topbar .opt {
  font-size: 13px;
}

.topbar .logout:hover,
.topbar .opt:hover {
  text-decoration: underline;
}
